.container {
    width: 400px;
    height: 200px;
    background: #ccc;
    box-sizing: border-box;
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.circle-1, .circle-2 {
    border: 50px solid orange;
    border-radius: 50%;
    position: absolute;
}

.circle-1 {
    border-left: 50px solid #fff;
    border-bottom: 50px solid #fff;
    border-top: 50px solid #fff;
    top: -50px;
    left: -50px;
    transform: rotate(45deg);
}
.circle-2 {
    border-right: 50px solid #fff;
    border-top: 50px solid #fff;
    border-bottom: 50px solid #fff;
    bottom: -50px;
    right: -50px;
    transform: rotate(45deg);
}