header .container {
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header nav .nav-list {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

header .nav-list li {
    padding: 20px;
    color: #666;
    cursor: pointer;
}

header .nav-list li:hover{
    border-bottom: 3px solid #E7504D;
}